.id{
    margin-top: 2px;
    width: 100%;
    height: 100vh;
    background-color: slategray;
    display: flex;
    flex-direction: column;
}
.title{
    margin:30px 0px;
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.title>h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif   ;
    font-style: italic;
    color: aliceblue;
    text-shadow: 2px 4px 3px cadetblue;
}
.find{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 650px;
    height: fit-content;
    box-shadow: 2px 4px 4px #000;
    padding: 10px 20px;
    border-radius: 20px;
}
form{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}
.input-group-feild{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: inherit;
    gap: 10px;
}
.input-group-feild>label{
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
    color: #fff;
    text-shadow: 2px 4px 2px #000;
}
.input-group-feild>input{
    width: 80%;
    padding: 10px 10px;
    border: none;
    outline: none;
    color:#000 ;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    /* font-variant: small-caps; */
}
input::placeholder{
    color: #333333;
}
.button{
    display: flex;
    align-items: center ;
    justify-content: center ;
    padding-top: 10px;
}
.button>button{
    width: 100px;
    height: 50px;
    border: none;
    outline: none;border-radius: 20px;color:#fff ;background-color: tomato;
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 600;
    transition: all ease-in-out  0.5s;
}
button:hover{
    transform: scale(1.05);
    
}
.box{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detials>h1{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 4px 2px #000;
}
.detials > span{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #000;
}
